/.idea
/ai-agent/
/app-vuejs/
/basis-admin/
/common-front-api/
/company-admin/
/documents/
/local-docker/
/migration/
/mobile-registration/
/passport/
/st-admin/
/st-api/
/st-bc-explorer/
/st-cli
/cash-balance-library
/cash-balance-library-unit-test
/phpmyadmin
/airflow
/basis-daybatch
/daybatch
/.env
/my-folder